## DataFrame modification

DataFrame is similar to any excel sheet or a database table where we need to insert new data or **[drop columns]()** and rows if not required. Such data manipulation operations are very common on a DataFrame.

In this section, we discuss the data manipulation functions of the DataFrame.

### Insert columns

Sometimes it is required to add a new column in the DataFrame. **`DataFrame.insert()`** function is used to insert a new column in DataFrame at the specified position.

In the below example, we insert a new column **'Class'** as a third new column in the DataFrame with default value ‘**A**’ using the syntax:

```python
df.insert(loc = col_position, column = new_col_name, value = default_value)
```

In [17]:
# Example:

import pandas as pd

# Create DataFrame from dict
student_dict = {'Name': ['Joe', 'Nat', 'Harry'], 'Age': [20, 21, 19], 'Marks': [85.10, 77.80, 91.54]}
student_df = pd.DataFrame(student_dict)
print(student_df)

# insert new column in dataframe and display
student_df.insert(loc=2, column="Class", value=['A','B','A'])
print(student_df)

    Name  Age  Marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54
    Name  Age Class  Marks
0    Joe   20     A  85.10
1    Nat   21     B  77.80
2  Harry   19     A  91.54

### Drop columns

DataFrame may contain redundant data, in such cases, we may need to delete such data that is not required. **`DataFrame.drop()`** function is used to **[delete the columns from DataFrame](https://github.com/milaan9/10_Python_Pandas_Module/blob/main/001_Python_Pandas_Methods/004_Python_Pandas_DataFrame_drop_columns.ipynb)**.

In the below example, we delete the “**Age**” column from the student DataFrame using **`df.drop(columns=[col1,col2...])`**.

In [18]:
import pandas as pd

# Create DataFrame from dict
student_dict = {'Name': ['Joe', 'Nat', 'Harry'], 'Age': [20, 21, 19], 'Marks': [85.10, 77.80, 91.54]}

student_df = pd.DataFrame(student_dict)
print(student_df)

# delete column from dataframe
student_df = student_df.drop(columns=['Age','Name'])
print(student_df)

    Name  Age  Marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54
   Marks
0  85.10
1  77.80
2  91.54

### Apply condition

We may need to update the value in the DataFrame based on some condition. **`DataFrame.where() `**function is used to replace the value of DataFrame, where the condition is **`False`**.

**Syntax:**
```python
where(filter, other=new_value)
```

It applies the filter condition on all the rows in the DataFrame, as follows:

* If the filter condition returns **`False`**, then it updates the row with the value specified in **`other`** parameter.
* If the filter condition returns **`True`**, then it does not update the row.

In the below example, we want to replace the student marks with ‘0’ where marks are less than 80. We pass a filter condition **`df['Marks'] > 80`** to the function.

In [19]:
import pandas as pd

# Create DataFrame from dict
student_dict = {'Name': ['Joe', 'Nat', 'Harry'], 'Age': [20, 21, 19], 'Marks': [85.10, 77.80, 91.54]}

student_df = pd.DataFrame(student_dict)
print(student_df)

# Define filter condition
filter = student_df['Marks'] > 80

student_df['Marks'].where(filter, other=0, inplace=True)
print(student_df)

    Name  Age  Marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54
    Name  Age  Marks
0    Joe   20  85.10
1    Nat   21   0.00
2  Harry   19  91.54

## DataFrame filter columns

Datasets contain massive data that need to be analyzed. But, sometimes, we may want to analyze relevant data and filter out all the other data. In such a case, we can use **`DataFrame.filter() `** function to fetch only required data from DataFrame.

It returns the subset of the DataFrame by applying conditions on each row index or column label as specified using the below syntax.

**Syntax:**
```python
df.filter(like = filter_cond, axis = 'columns' or 'index')
```

It applies the condition on each row index or column label.

* If the condition passed then, it includes that row or column in the resultant DataFrame.
* If the condition failed, then it does not have that row or column in the resulting DataFrame.

>**Note:** It applies the filter on row index or column label, not on actual data.

In the below example, we only include the column with a column label that starts with ‘**N**’.

In [20]:

import pandas as pd

# Create DataFrame from dict
student_dict = {'Name': ['Joe', 'Nat', 'Harry'], 'Age': [20, 21, 19], 'Marks': [85.10, 77.80, 91.54]}

student_df = pd.DataFrame(student_dict)
print(student_df)

# apply filter on dataframe
student_df = student_df.filter(like='a', axis='columns')
print(student_df)

    Name  Age  Marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54
    Name  Marks
0    Joe  85.10
1    Nat  77.80
2  Harry  91.54

## DataFrame rename columns

While working with DataFrame, we may need to **[rename the column](https://github.com/milaan9/10_Python_Pandas_Module/blob/main/001_Python_Pandas_Methods/007_Python_Pandas_DataFrame_rename_columns.ipynb)** or row index. We can use **`DataFrame.rename()`** function to alter the row or column labels.

We need to pass a dictionary of key-value pairs as input to the function. Where key of the **`dict`** is the existing column label, and the value of **`dict`** is the new column label.

```python
df.rename(columns = {'old':'new'})
```

It can be used to rename single or multiple columns and row labels.

In the below example, we rename column '**Marks**' to '**Percentage**' in the student DataFrame.

In [21]:
import pandas as pd

# Create DataFrame from dict
student_dict = {'Name': ['Joe', 'Nat', 'Harry'], 'Age': [20, 21, 19], 'Marks': [85.10, 77.80, 91.54]}

student_df = pd.DataFrame(student_dict)
print(student_df)

# rename column
student_df = student_df.rename(columns={'Marks': 'Percentage'})
print(student_df)

    Name  Age  Marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54
    Name  Age  Percentage
0    Joe   20       85.10
1    Nat   21       77.80
2  Harry   19       91.54

## DataFrame Join

In most of the use cases of Data Analytics, data gathered from multiple sources, and we need to combine that data for further analysis. In such instances, join and merge operations are required.

**`DataFrame.join()`** function is used to join one DataFrame with another DataFrame as **`df1.join(df2)`**

In the below example, we joined two different DataFrames to create a new resultant DataFrame.

In [ ]:
import pandas as pd

# create dataframe from dict
student_dict = {'Name': ['Joe', 'Nat'], 'Age': [20, 21]}
student_df = pd.DataFrame(student_dict)
print(student_df)

# create dataframe from dict
marks_dict = {'Marks': [85.10, 77.80]}
marks_df = pd.DataFrame(marks_dict)
print(marks_df)

# join dfs
joined_df = student_df.join(marks_df)
print(joined_df)

  Name  Age
0  Joe   20
1  Nat   21
   Marks
0   85.1
1   77.8
  Name  Age  Marks
0  Joe   20   85.1
1  Nat   21   77.8

## DataFrame GroupBy

**`GroupBy`** operation means splitting the data and then combining them based on some condition. Large data can be divided into logical groups to analyze it.

**`DataFrame.groupby()`** function groups the DataFrame row-wise or column-wise based on the condition.

If we want to analyze each class’s average marks, we need to combine the student data based on the ‘Class’ column and calculate its average using **`df.groupby(col_label).mean()`** as shown in the below example.

In [26]:
import pandas as pd

# Create DataFrame from dict
student_dict = {'Name': ['Joe', 'Nat', 'Harry'], 'Class': ['A', 'B', 'A'], 'Marks': [85.10, 77.80, 91.54]}
student_df = pd.DataFrame(student_dict)
print("Original DataFrame:")
print(student_df)

# Exclude non-numeric columns before applying groupby and mean
student_df_mean = student_df.groupby('Class')['Marks'].mean().reset_index()
print("\nDataFrame after groupby and reset index:")
student_df_mean=student_df_mean.rename(columns = {'Marks':'Mean Marks'})
print(student_df_mean)

Original DataFrame:
    Name Class  Marks
0    Joe     A  85.10
1    Nat     B  77.80
2  Harry     A  91.54

DataFrame after groupby and reset index:
  Class  Mean Marks
0     A       88.32
1     B       77.80

## DataFrame Iteration

DataFrame iteration means visiting each element in the DataFrame one by one. While analyzing a DataFrame, we may need to iterate over each row of the DataFrame.

There are multiple ways to iterate a DataFrame. We will see the function **`DataFrame.iterrows()`**, which can loop a DataFrame row-wise. It returns the index and row of the DataFrame in each iteration of the for a loop.

In [27]:
import pandas as pd

# Create DataFrame from dict
student_dict = {'Name': ['Joe', 'Nat'], 'Age': [20, 21], 'Marks': [85, 77]}
student_df = pd.DataFrame(student_dict)

# Iterate all the rows of DataFrame
for index, row in student_df.iterrows():
    print("\nindex : \n",index)
    print("\nrow : \n",row)

index :
 0

row :
 Name     Joe
Age       20
Marks     85
Name: 0, dtype: object

index :
 1

row :
 Name     Nat
Age       21
Marks     77
Name: 1, dtype: object

## DataFrame Sorting

Data Analyst always needs to perform different operations on the underlying data like merge, sort, concatenate, etc. The most frequently used operation is the sorting of data. Sorted data becomes easy to analyze and inferred.

The **`DataFrame.sort_values()`** function is used to sort the DataFrame using one or more columns in ascending (default) or descending order.

In the below example, we sort the student data based on the '**Marks**'.

In [28]:
import pandas as pd

# Create DataFrame from dict
student_dict = {'Name': ['Joe', 'Nat', 'Harry'], 'Age': [20, 21, 19], 'Marks': [85.10, 77.80, 91.54]}
student_df = pd.DataFrame(student_dict)
print("\noriginal df : \n")
print(student_df)

# rename column
print("\nsorted df : \n")
student_df = student_df.sort_values(by=['Age'])
print(student_df)

original df :

    Name  Age  Marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54

sorted df :

    Name  Age  Marks
2  Harry   19  91.54
0    Joe   20  85.10
1    Nat   21  77.80

## DataFrame conversion

After all the processing on DataFrame, we will get the expected data in the DataFrame. But, we may require to convert the DataFrame back to its original formats like CSV file or **`dict`**, or we may need to convert it to another format for further action like storing it into the Database as SQL table format.

Pandas have provided plenty of functions to convert the DataFrames into many different formats.

For example, **`DataFrame.to_dict()`** function is used to converts the **[DataFrame into a Python dictionary](https://github.com/milaan9/10_Python_Pandas_Module/blob/main/001_Python_Pandas_Methods/008_Python_Pandas_DataFrame_to_Python_dictionary.ipynb)** object.

Below is the example of a DataFrame which we need to convert into the Python **`dict`**.

```python
    Name  Class Marks
0    Joe     A  85.10
1    Nat     B  77.80
2  Harry     A  91.54
```

Let’s see how we can use **`DataFrame.to_dict()`** function to convert the DataFrame into the Python dictionary. By default, it creates the dictionary with keys as column labels and values as mapping of the row index and data.

In [29]:
# convert dataframe to dict
dict = student_df.to_dict()
print(dict)

{'Name': {2: 'Harry', 0: 'Joe', 1: 'Nat'}, 'Age': {2: 19, 0: 20, 1: 21}, 'Marks': {2: 91.54, 0: 85.1, 1: 77.8}}

In [30]:
student_df.to_csv("student_df.csv")

# Summary:

## Create Test Objects

| Operator | Description |
|:---- |:---- |
| **`pd.DataFrame(np.random.rand(20,5))`** | **5 columns and 20 rows of random floats** |
| **`pd.Series(my_list)`** | **Create a series from an iterable my_list** |
| **`df.index = pd.date_range('1900/1/30', periods=df.shape[0])`** | **Add a date index** |

## Viewing/Inspecting Data

| Operator | Description |
|:---- |:---- |
| **`df.head(n)`** | **First n rows of the DataFrame** |
| **`df.tail(n)`** | **Last n rows of the DataFrame** |
| **`df.shape`** | **Number of rows and columns** |
| **`df.info()`** | **Index, Datatype and Memory information** |
| **`df.describe()`** | **Summary statistics for numerical columns** |
| **`s.value_counts(dropna=False)`** | **View unique values and counts** |
| **`df.apply(pd.Series.value_counts)`** | **Unique values and counts for all columns** |

## Selection

| Operator | Description |
|:---- |:---- |
| **`df[col]`** | **Returns column with label col as Series** |
| **`df[[col1, col2]]`** | **Returns columns as a new DataFrame** |
| **`s.iloc[0]`** | **Selection by position** |
| **`s.loc['index_one']`** | **Selection by index** |
| **`df.iloc[0,:]`** | **First row** |
| **`df.iloc[0,0]`** | **First element of first column** |

## Data Cleaning

| Operator | Description |
|:---- |:---- |
| **`df.columns = ['a','b','c']`** | **Rename columns** |
| **`pd.isnull()`** | **Checks for null Values, Returns Boolean Arrray** |
| **`pd.notnull()`** | **Opposite of pd.isnull()** |
| **`df.dropna()`** | **Drop all rows that contain null values** |
| **`df.dropna(axis=1)`** | **Drop all columns that contain null values** |
| **`df.dropna(axis=1,thresh=n)`** | **Drop all rows have have less than n non null values** |
| **`df.fillna(x)`** | **Replace all null values with x** |
| **`s.fillna(s.mean())`** | **Replace all null values with the mean** |
| **`s.astype(float)`** | **Convert the datatype of the series to float** |
| **`s.replace(1,'one')`** | **Replace all values equal to 1 with 'one'** |
| **`s.replace([2,3],['two', 'three'])`** | **Replace all 2 with 'two' and 3 with 'three'** |
| **`df.rename(columns=lambda x: x + 1)`** | **Mass renaming of columns** |
| **`df.rename(columns={'old_name': 'new_ name'})`** | **Selective renaming** |
| **`df.set_index('column_one')`** | **Change the index** |
| **`df.rename(index=lambda x: x + 1)`** | **Mass renaming of index** |

## Filter, Sort, and Groupby

| Operator | Description |
|:---- |:---- |
| **`df[df[col] > 0.6]`** | **Rows where the column col is greater than 0.6** |
| **`df[(df[col] > 0.6) & (df[col] < 0.8)]`** | **Rows where 0.8 > col > 0.6** |
| **`df.sort_values(col1)`** | **Sort values by col1 in ascending order** |
| **`df.sort_values(col2,ascending=False)`** | **Sort values by col2 in descending order.5** |
| **`df.sort_values([col1,col2],ascending=[True,False])`** | **Sort values by col1 in ascending order then col2 in descending order** |
| **`df.groupby(col)`** | **Returns a groupby object for values from one column** |
| **`df.groupby([col1,col2])`** | **Returns groupby object for values from multiple columns** |
| **`df.groupby(col1)[col2]`** | **Returns the mean of the values in col2, grouped by the values in col1** |
| **`df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean)`** | **Create a pivot table that groups by col1 and calculates the mean of col2 and col3** |
| **`df.groupby(col1).agg(np.mean)`** | **Find the average across all columns for every unique col1 group** |
| **`df.apply(np.mean)`** | **Apply the function np.mean() across each column** |
| **`nf.apply(np.max,axis=1)`** | **Apply the function np.max() across each row** |

## Join/Combine

| Operator | Description |
|:---- |:---- |
| **`df1.append(df2)`** | **Add the rows in df1 to the end of df2 (columns should be identical)** |
| **`pd.concat([df1, df2],axis=1)`** | **Add the columns in df1 to the end of df2 (rows should be identical)** |
| **`df1.join(df2,on=col1, how='inner')`** | **SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. The 'how' can be 'left', 'right', 'outer' or 'inner'** |

## Statistics

| Operator | Description |
|:---- |:---- |
| **`df.describe()`** | **Summary statistics for numerical columns** |
| **`df.mean()`** | **Returns the mean of all columns** |
| **`df.corr()`** | **Returns the correlation between columns in a DataFrame** |
| **`df.count()`** | **Returns the number of non-null values in each DataFrame column** |
| **`df.max()`** | **Returns the highest value in each column** |
| **`df.min()`** | **Returns the lowest value in each column** |
| **`df.median()`** | **Returns the median of each column** |
| **`df.std()`** | **Returns the standard deviation of each column** |

## Importing Data

| Operator | Description |
|:---- |:---- |
| **`pd.read_csv(filename)`** | **From a CSV file** |
| **`pd.read_table(filename)`** | **From a delimited text file (like TSV)** |
| **`pd.read_excel(filename)`** | **From an Excel file** |
| **`pd.read_sql(query, connection_object)`** | **Read from a SQL table/database** |
| **`pd.read_json(json_string)`** | **Read from a JSON formatted string, URL or file.** |
| **`pd.read_html(url)`** | **Parses an html URL, string or file and extracts tables to a list of dataframes** |
| **`pd.read_clipboard()`** | **Takes the contents of your clipboard and passes it to read_table()** |
| **`pd.DataFrame(dict)`** | **From a dict, keys for columns names, values for data as lists** |

## Exporting Data

| Operator | Description |
|:---- |:---- |
| **`df.to_csv(filename)`** | **Write to a CSV file** |
| **`df.to_excel(filename)`** | **Write to an Excel file** |
| **`df.to_sql(table_name, connection_object)`** | **Write to a SQL table** |
| **`df.to_json(filename)`** | **Write to a file in JSON format** |